version: "3.8"

services:
    vnc-server:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: vnc-websocket-proxy
        environment:
            - NODE_ENV=production
            - PORT=3101
        restart: unless-stopped
        healthcheck:
            disable: true
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.vnc.rule=Host(`novnc.noc.sh`)"
            - "traefik.http.services.vnc.loadbalancer.server.port=3101"
