services:
    vnc-server:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: vnc-websocket-proxy
        environment:
            - NODE_ENV=production
            - PORT=3101
        restart: unless-stopped
        healthcheck:
            disable: false
