services:
    vnc-server:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: vnc-websocket-proxy
        environment:
            - NODE_ENV=production
            - PORT=3101
        restart: unless-stopped
        labels:
            - "coolify.managed=true"
            - "traefik.enable=true"
            - "traefik.http.routers.vnc.rule=Host(`novnc.noc.sh`)"
            - "traefik.http.routers.vnc.entrypoints=websecure"
            - "traefik.http.routers.vnc.tls=true"
            - "traefik.http.routers.vnc.tls.certresolver=letsencrypt"
            - "traefik.http.services.vnc.loadbalancer.server.port=3101"
        healthcheck:
            disable: false
